open_settings:
    aws:elasticbeanstalk:application:environment:
        PORT:'8081'
        DB_HOST:'awseb-e-hhw2spudmm-stack-awsebrdsdatabase-qgkdhqtld9d4.cdueplnz1rp4.us-east-1.rds.amazonaws.com'
        DB_USER:'urlshortenerUsr'
        DB_PASS:'358nCQ5ltZb0%ABwuI2o'
        DB_NAME:'urlshortenerdb'